@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box ;
    box-sizing: border-box;
}
/* header */
header .contenedor{
    width: 90%;
    margin: auto;
    max-width: 1000px;
}
.menu{
    background-color: #fff;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    height: 50px;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #071E3D;
    font-family: 'Roboto';
}
.menu_items li a:hover{
    color:#21E6C1 ;
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #071E3D;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 59px;
}
@media screen and (max-width: 952px) {
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16px;
    }
}
@media screen and (max-width: 858px) {
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 90vw;
        height: 100%;
        top: -100vh;
        text-align: end;
        transition: all .4s;
        flex-direction: column;
        backdrop-filter: blur(10px);
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a {
        font-size: 20px;
        color: #071E3D;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #21E6C1;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape){
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }

}
/* fin del header */

/* main*/
main .tituloMain{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.home .tituloMain{
    color: #071E3D;
    font-size: 36px;
    font-family: 'Roboto';
    margin: 30px 0;
}
.home .tituloMain .cambioColor{
    color: #21E6C1;
}
.home h2{
    color: #071E3D;
    background-color:#21E6C1;
    height: 29px;
    width: 100px;
    margin: 30px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Roboto';
}
.home .sobreNosotros{
    margin: 30px 0;
}
.home .sobreNosotros h3{
    font-size: 24px;
    color: #071E3D;
    font-family: 'Roboto';
    margin: 30px 0;
}
.home .sobreNosotros p{
    font-size: 12px;
    font-family: 'Roboto';
    color: #071E3D;
}
/* servicios */
.serviciosContenedor{
    width: 90%;
    margin: auto;
    max-width: 1000px;
}
.servicios .nuestrosServicios{
    color: #071E3D;
    font-size: 24px;
    font-family: 'Roboto';
    margin: 30px 0;
    margin-left: -4%;
}
.imgNegocio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.servicios .negocio{
    font-size: 14px;
    font-family: 'Roboto';
    color: #071E3D;
    margin: 30px 0;
}
.servicios .listaNegocio{
    font-size: 12px;
    color: #071E3D;
    margin: 30px 0;
}
.imgFinanzas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.finanzasContenido .finanzas{
    font-size: 14px;
    font-family: 'Roboto';
    color: #071E3D;
    margin: 30px 0;
}
.finanzasContenido .listaFinanzas{
    font-size: 12px;
    color: #071E3D;
    margin: 30px 0;
}
/* equipo */
.equipoContenedor{
    width: 90%;
    margin: auto;
    max-width: 1000px;
}
.equipo .tituloEquipo{
    color: #071E3D;
    font-size: 24px;
    font-family: 'Roboto';
    margin: 30px 0;
}
.equipo .textoEquipo{
    font-size: 14px;
    font-family: 'Roboto';
    color: #071E3D;
    margin: 30px 0;
}
.equipo .contenidoEquipo{
    background-color: #071E3D;
    margin: 30px 0;
}
.equipo .contenidoEquipo h3{
    color: #21E6C1;
    font-size: 12px;
    font-family: 'Roboto';
    margin: 10px 0;
}
.equipo .contenidoEquipo p{
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto';
}
/* CONTACTO */
.contactoContenedor{
    width: 90%;
    margin: auto;
    max-width: 1000px;
}
.contacto h2{
    color: #071E3D;
    font-size: 24px;
    font-family: 'Roboto';
    margin: 30px 0;
}
.contacto p{
    color: #071E3D;
    font-size: 12px;
    font-family: 'Roboto';
    margin: 30px 0;
}
.contacto .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto .formulario input{
    background-color: #071E3D;
    margin: 5px 0;
    border: none;
    border-radius: 2px;
    color: #fff;
    height: 30px;
    width: 260px;
    display: flex;
    justify-content: center;
}
.contacto .formulario textarea {
    background-color: #071E3D;
    color: #fff;
    margin: 5px 0;
    border-radius: 2px;
    min-width: 260px;
    max-width: 260px;
    min-height: 90px;
    max-height: 90px;
}
.contacto .formulario .boton{
    background-color: #21E6C1;
    width: 126px;
    height: 29px;
    border-radius: 1px;
    cursor: pointer;
}
footer{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    background-color: #071E3D;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div img{
    width: 100%;
}
footer div p {
    color: #fff;
    font-size: 11px;
}
/* responsive tablet 768px */
@media screen and (min-width:768px) {
    body{
        background-image: url(../img-iconos/Ilustracion\ home\ Tablet.png);
        background-repeat: no-repeat;
        background-position: 100% 13%;
    }
    /* header */
    header{
        margin: 50px 0px;
    }
    header .logo{
        height: 100px;
    }
    header .btn_menu{
        font-size: 50px;
    }
    header nav .menu_items li a{
        font-size: 32px;
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;
        margin-top: 80px;
    }
    ul.show {
        top: 163px;
        right: 16px;
    }
    /* main */
    .home .tituloMain{
        font-size: 64px;
    }
    .home .imgHomeMobile{
        display: none;
    }
    .contactanos{
        display: flex;
        justify-content: center;
    }
    .home h2{
        font-size: 24.44px;
        width: 220px;
        height: 50.63px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* contenido home */
    .cajaTablet{
        margin-top: 70%;
    }
    /* sobre nosotros */
    .home .sobreNosotros h3{
        font-size:42px;
    }
    .home .sobreNosotros p{
        font-size: 24px;
    }
    /* nuestros servicios */
    .servicios .nuestrosServicios{
        font-size:42px;
        margin-left: -5%;
    }
    .imgNegocio img{
        height: 71px;
    }
    .imgFinanzas img{
        height: 71px;
    }
    .cajaServicios{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .cajaListas{
        margin: 0px 25px;
    }
    .servicios .negocio{
        font-size: 24px;
    }
    .finanzasContenido .finanzas{
        font-size: 24px;
    }
    .servicios .listaNegocio{
        font-size: 20px;
    }
    .finanzasContenido .listaFinanzas{
        font-size: 20px;
    }
    /* equipo */
    .equipo .tituloEquipo{
        font-size: 42px;
    }
    .equipo .textoEquipo{
        font-size: 24px;
    }
    .equipo .contenidoEquipo h3{
        font-size: 24px;
    }
    .equipo .contenidoEquipo p{
        font-size: 24px;
    }
    /* contacto */
    .contacto h2{
        font-size: 42px;
    }
    .contacto p{
        font-size: 24px;
    }
    /* formulario/contacto */
    .contacto .formulario input{
        height: 30px;
        width: 647px;
        font-size: 20px;
    }
    .contacto .formulario textarea{
        min-width: 647px;
        max-width: 647px;
        min-height: 90px;
        max-height: 90px;
        font-size: 20px;
    }
    .contacto .formulario .boton{
        width: 147px;
        height: 43px;
        font-size: 20px;
        border-radius: 1px;
    }
    /* footer */
    footer div p{
        font-size: 15px;
    }
}
/* desktop */
@media screen and (min-width:1300px){
    body{
        background-image: url(../img-iconos/Ilustracion\ home\ WEB.png);
        background-position: 93% 1%;
    }
    /* header */
    header{
        display: flex;
        background-color: rgba(255, 255, 255, 0);
    }
    header .menu{
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0); 
    }
    header nav .menu_items li a{
        font-size: 25px;
        margin-top: 0;
    }
    /* home */
    .home .contactanos{
        display: flex;
        justify-content: flex-start;
    }
    .cajaTablet{
        margin-top: 24%;
    }
    .home .sobreNosotros{
        display: flex;
        flex-direction: column;
    }
    .home .sobreNosotros p{
        font-size: 24px;
    }
    /* formulario */
    .contacto .formulario input{
        width: 100%;
        height: 65px;
    }
    .contacto .formulario textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 195px;
        max-height: 195px;
    }
}
/* desktop mas grande */
@media screen and (min-width:1900px){
    body{
        background-image: url(../img-iconos/Ilustracion\ home\ WEB.png);
        background-position: 74% 1%;
    }
    .cajaTablet {
        margin-top: 30%;
    }
}